[submodule "deps/benchkit"]
	path = deps/benchkit
	url = git@github.com:open-s4c/benchkit.git
[submodule "deps/pythainer"]
	path = deps/pythainer
	url = git@github.com:apaolillo/pythainer.git
[submodule "benchmarks/rt-tests"]
	path = benchmarks/rt-tests
	url = git://git.kernel.org/pub/scm/utils/rt-tests/rt-tests.git
